<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>

    <title>CommuQnaList</title>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <link rel="stylesheet" th:href="@{/assets/css/main.css}"/>

</head>

<body class="is-preload">

<!-- Wrapper -->

<div id="wrapper">



    <!-- Main -->

    <div id="main">
        <div class="inner">
            <!-- Header -->
            <header id="header">
                <a class="logo" href="/main"><strong>오늘, 슈카츠</strong> &nbsp;On, shuukatsu</a>
                <ul class="icons">
                    <li><a class="button primary small" href="#">sign up</a></li>
                    <li><a class="button small" href="#">sign in</a></li>
                    <li><a class="icon brands fa-twitter" href="#"><span class="label">Twitter</span></a></li>
                    <li><a class="icon brands fa-facebook-f" href="#"><span class="label">Facebook</span></a></li>
                    <li><a class="icon brands fa-snapchat-ghost" href="#"><span class="label">Snapchat</span></a></li>
                    <li><a class="icon brands fa-instagram" href="#"><span class="label">Instagram</span></a></li>
                    <li><a class="icon brands fa-medium-m" href="#"><span class="label">Medium</span></a></li>

                </ul>

            </header>



            <!-- Content -->

            <section>

                <header class="main">

                    <h1>Community</h1>

                </header>



                <hr class="major">



                <h2>게시글 목록</h2>
                <div class="table-wrapper">
                    <table>
                        <thead
                        <tr>
                            <th>글번호</th>
                            <th>제목</th>
                            <th>조회수</th>
                            <th>작성일</th>

                        </tr>

                        </thead>

                        <tbody>

                        <tr th:if="${#lists.size(list)} > 0" th:each="list : ${list}">

                            <!-- 조회된 데이터가 한 개 이상, 즉 게시글이 한 개 이상 있을 경우 목록으로 보여준다.

                            th:each = 목록과 같이 반복되는 데이터를 화면에 표시하는 데 사용된다.

                            Thymeleaf에서는 컨트롤러에서 전달받은 데이터를 ${변수} 형식으로 사용할 수 있다.

                            addObject에 list라는 이름으로 담은 데이터를 뷰에서는 ${list}로 사용

                            list : ${list}에서 앞의 list라는 이름으로 반복되는 데이터에 접근할 수 있다.

                            이 list변수는 each가 선언된 <tr>태그 안에서만 접근할 수 있다. -->

                            <td th:text="${list.qna_num}"></td>

                            <td class="title"><a href="/community/openCommuQnaDetail?qna_num=" th:attrappend="href=${list.qna_num}" th:text="${list.qna_title}"></a></td>

                            <td th:text="${list.qna_num}"></td>

                            <td th:text="${list.qna_created_datetime}"></td>

                            <!-- list변수를 사용해 서버에서 전달된 데이터에 접근해서 화면에 표시

                            쿼리에서 컬럼 조회 -> dto에 변수로 저장 -> 뷰에서는 서버로부터 전달된 게시글 목록을 list라는 변수를 통해 접근 -->

                        </tr>

                        <tr th:unless="${#lists.size(list)} > 0">

                            <!-- 조회된 데이터가 없는 경우 조회된 결과 없다는 메시지를 보여줌 -->

                            <td colspan="4" align="center">조회된 결과가 없습니다.</td>

                        </tr>

                        </tbody>

                        <tfoot>

                        <tr>

                            <td><ul class="actions">

                                <li><a href="/community/openCommuQnaWrite.do" class="button primary">write</a></li>

                            </ul></td>

                            <td colspan="3"></td>

                        </tr>

                        </tfoot>

                    </table>

                </div>



                <hr class="major">



            </section>



        </div>

    </div>



    <!-- Sidebar -->

    <div id="sidebar"><!-- class="inactive" -->

        <div class="inner">



            <!-- Search -->

            <section id="search" class="alt">

                <form method="post" action="#">

                    <input type="text" name="query" id="query" placeholder="Search">

                </form>

            </section>



            <!-- Menu -->

            <nav id="menu">

                <header class="major">

                    <h2>오늘, 슈카츠</h2>

                </header>

                <ul>

                    <li><a href="elements.html">Elements</a></li>

                    <li>

                        <span class="opener">취활정보</span>

                        <ul>

                            <li><a href="/info/openNewsList">뉴스 / 특집</a></li>

                            <li><a href="/info/openRecList">채용정보</a></li>

                            <li><a href="#">전형후기</a></li>

                            <li><a href="#">비밀게시판</a></li>

                        </ul>

                    </li>

                    <li>

                        <span class="opener">커뮤니티</span>

                        <ul>

                            <li><a href="/community/openCommuQnaList.do">질문게시판</a></li>

                            <li><a href="/community/openCommuFreeList.do">자유게시판</a></li>

                        </ul>

                    </li>

                    <li>

                        <span class="opener">자료실</span>

                        <ul>

                            <li><a href="#">서식 / 양식</a></li>

                        </ul>

                    </li>

                </ul>

            </nav>



            <!-- Section -->

            <section>

                <header class="major">

                    <h2>Ante interdum</h2>

                </header>

                <div class="mini-posts">

                    <article>

                        <a class="image" href="#"><img alt="" src="images/pic07.jpg"></a>

                        <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>

                    </article>

                    <article>

                        <a class="image" href="#"><img alt="" src="images/pic08.jpg"></a>

                        <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>

                    </article>

                    <article>

                        <a class="image" href="#"><img alt="" src="images/pic09.jpg"></a>

                        <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>

                    </article>

                </div>

                <ul class="actions">

                    <li><a class="button" href="#">More</a></li>

                </ul>

            </section>



            <!-- Section -->

            <section>

                <header class="major">

                    <h2>Get in touch</h2>

                </header>

                <p>Sed varius enim lorem ullamcorper dolore aliquam aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin sed aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>

                <ul class="contact">

                    <li class="icon solid fa-envelope"><a href="#">information@untitled.tld</a></li>

                    <li class="icon solid fa-phone">(000) 000-0000</li>

                    <li class="icon solid fa-home">1234 Somewhere Road #8254<br>

                        Nashville, TN 00000-0000</li>

                </ul>

            </section>



            <!-- Footer -->

            <footer id="footer">

                <p class="copyright">© Untitled. All rights reserved. Demo Images: <a href="https://unsplash.com">Unsplash</a>. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>

            </footer>



        </div>

        <a class="toggle" href="#sidebar">Toggle</a></div>



</div>



<!-- Scripts -->

<script src="/assets/js/jquery.min.js"></script>

<script src="/assets/js/browser.min.js"></script>

<script src="/assets/js/breakpoints.min.js"></script>

<script src="/assets/js/util.js"></script>

<script src="/assets/js/main.js"></script>

</body>

</html>